@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.about {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.about_container {
  width: 50%;
  min-width: 300px;
  font-family: 'Josefin Sans', sans-serif;
}

.about_container > strong {
  color: rgb(42, 42, 42);
}

.about_container > strong > a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .about_container {
    width: 80%;
  }
}
