@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F2E7;
  height: 100%;
  min-height: 100vh;
}
.about_container {
  width: 50%;
  min-width: 300px;
  font-family: "Josefin Sans", sans-serif;
  margin: 20px 0;
}

.about_container > strong {
  color: #797A7E;
  font-weight: 600;
}

.about_container > strong > a {
  text-decoration: none;
  font-weight: 1000;
  background: -webkit-linear-gradient(#00159e, #ef1654, #cac701);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .about_container {
    width: 80%;
  }
}
