@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
:root {
  --background: #f7f2e7;
  --font: #000000;
}

.Home {
  text-align: center;
  background-color: var(--background);
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 5%;
}

@keyframes homeAnimation {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

.homeContent {
  max-width: 100vw;
  width: 100% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* animation: homeAnimation 0.7s linear; */
}

#homeImg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100vw;
  height: 85vh;
  max-height: 50vw;
  background-image: url("../Files/homeImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Home > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#homeImg > div {
  text-align: start;
  margin: 0 0 5% 5%;
}
.Home > div > div > h1 {
  margin: 0 0 0 2%;
  color: white;
  font-family: "Poiret One", cursive;
  font-size: calc(8px + 4.5vw);
}
.Home > div > div > h1:nth-child(2) {
  margin-bottom: 15%;
}

.services {
  display: flex;
  align-items: center;
  margin: 5% 0;
}

.services-image {
  width: 40%;
  /* filter: grayscale(100%);
  transition: filter 0.3s ease-in-out; */
}


.services-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  color: #797A7E;
}
.services-content > h2{
  font-family: "Space Grotesk", sans-serif;
  font-size: calc(8px + 2vw);
  margin: 0 0 5% 0;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .Home > div {
    height: 35vh;
  }
  .Home > div > div > h1:nth-child(2) {
    margin-bottom: 1%;
  }
  .parallax-image {
    width: 100%;
  }
  .parallex-div {
    width: 100%;
    height: 25vh;
    margin: 5% 5%;
  }
}
